body {
  background-image: url(assets/background.jpg);
  background-size: cover;
}

.container.main {
  display: grid;
  margin: 85px;
  grid-template-columns: 520px 735px;
  justify-content: center;
  align-content: stretch;
}

#col-1 {
  width: 100%;
  background: rgba(250, 250, 250, .5);
  color: #3d110e;
  font-family: Tahoma;
}

#col-1 .container {
  text-align: center;
  margin: 30px 100px;
}

#logo {
  margin-right: auto;
  margin-left: auto;
  width: 75px;
  height: 75px;
}

#col-1 .header {
  font: 31pt Impact;
  margin: 15px 0;  
}

#col-1 .first-p {
  font-size: 17pt;
}

#col-1 .second-p {
  font-size: 22pt;
}

#col-1 .third-p {
  font-size: 17pt;
  margin-bottom: 50px;
}

#col-1 footer {
  color: #5d1d19;
  font-weight: bold;
  font-size: 11pt;
}


#col-2 {
  width: 100%;
  background: rgba(0, 0, 0, .6);
}

#col-2 .container {
  text-align: left;
  margin-left: 200px;
  color: #ffffff;
  font-family: Tahoma;
}

a {
  text-decoration: none;
  color: #c7b299;
  font-family: Tahoma;
  font-size: 15pt;
}

#col-2 h1 {
  font-family: Impact;
  font-size: 34pt;
}

#col-2 h2 {
  color: #c7b299;
  font-family: Impact;
  font-size: 22pt;
}

#login {
  height: 200px;
  width: 300px;
}

#login > * {
  margin: 20px 0;
}

#login .username,
#login .password {
  background-color: transparent;
  border: 1px solid #c7b299;
  border-top: 0;
  font-size: 15pt;
  color: #ffffff;
  font-family: Tahoma;
  height: 38px;
  width: 100%;
  padding-left: 10px;
  font-weight: 100;
}

.password {
  letter-spacing: 8px;
}


.username-container,
.password-container {
  position: relative;
  width: 100%;
}

.username-container::after,
.password-container::after {
  position: absolute;
  content: '';
  background-color: #c7b299;
  height: 1px;
  width: 10px;
  bottom: 40px;
  left: 0px;
}

.username-container::before,
.password-container::before {
  content: '';
  position: absolute;
  background-color: #c7b299;
  height: 1px;
  width: 213px;
  left: 100px;
  bottom: 40px;
}

.username-container label,
.password-container label {
  position: absolute;
  font-family: Tahoma;
  font-size: 12pt;
  color: #c7b299;
  left: 10px;
  bottom: 31px;
  width: 90px;
  background-color: transparent;
  text-align: center;
}

#login #submit {
  background-color: #c7b299;
  color: #5b1d19;
  font-family: Impact;
  font-size: 18pt;
  border: none;
  width: 120px;
  height: 45px;
}

.button-container a {
  margin-left: 15px;
}

.button-container {
  padding-top: 10px;
  width: 100%;
}

.create-account {
  margin-top: 50px;
  font-family: Tahoma;
  font-size: 15pt;
  color: #fff;
}

.create-account a {
  color: #c7b299;
}
